@font-face {
  font-family: 'Maison Neue';
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/MaisonNeueBook.woff2') format('woff2'),
    url('/assets/fonts/MaisonNeueBook.woff') format('woff');
}

@font-face {
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/MaisonNeueMedium.woff2') format('woff2'),
    url('/assets/fonts/MaisonNeueMedium.woff') format('woff');
}

@font-face {
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/MaisonNeueDemi.woff2') format('woff2'),
    url('/assets/fonts/MaisonNeueDemi.woff') format('woff');
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/MaisonNeueBold.woff2') format('woff2'),
    url('/assets/fonts/MaisonNeueBold.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/PlayfairDisplayRegular.woff2') format('woff2'),
    url('/assets/fonts/PlayfairDisplayRegular.woff') format('woff');
}

@font-face {
  font-family: 'Trump Gothic East';
  font-weight: 700;
  font-style: normal;
  font-display: optional;
  src: url('/assets/fonts/TrumpGothicEastBold.woff2') format('woff2'),
    url('/assets/fonts/TrumpGothicEastBold.woff') format('woff');
}
